.search {
font-family: sans-serif;
  text-align: center;
  padding: 2rem !important;
  
}


 .form-control {
    height: 40px;
}

 

.form-control {
    font-size: 16px;
    font-weight: 300;
    margin-left:370px;  
    height: 50px;
}
 .form-control:focus {
  border-color: #272b15;
  outline: 0;
  background: #e0d88bcc;
    border: 2px solid #d48122;
    color: rgb(10, 7, 7);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
}
.alert {
    padding: 20px;
    background-color: #ec7411;
    color: white;
    margin-left:400px; 
    width: 300px;
  }
 